nav {
    float: right;
    width: 100%;
}

nav li {
    display: inline-block;
    margin-bottom: 10px;
    padding: 15px 30px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #80B3FF;
}

nav a:hover {
    color: #A2122F;
    text-decoration: underline;
}
nav a:visited {
    color: #693726;
}